@import url('https://fonts.googleapis.com/css?family=Nunito');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  font-family: 'Nunito';
  color: #212b36;
}

a {
  text-decoration: none;
  color: #333;
  font-size: 14px;
}

h1 {
  line-height: 60px;
}


code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
